.modalSidebar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 288px;
  background: darken(#fff, 2%);

  nav {
    display: flex;
    flex-direction: column;
    background: none;
    border: none;
  }
  .primaryNav,
  .secondaryNav {
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 22px 16px;

    a {
      position: relative;
      flex-grow: 0;
      padding: 6px 0;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0%;
        height: 1px;
        background: #000;
        transition: width 0.25s ease-in-out;
      }
      &:hover:after {
        width: 100%;
      }
    }
  }
  .secondaryNav {
  }
}
