.website-node {
  background: #fff;
  border: 1px solid #e7e7e7;
  border-radius: 11px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  width: 380px;
  overflow: hidden;

  .react-flow__handle {
    background: #00b300;
    width: 8px;
    height: 8px;
    border: none;
    top: 50%;
  }

  .website-node-content {
    .siteThumbnail--large {
      height: 250px;
      background-image: url('../../../public/assets/websitePreviewThumb.png');
      background-size: cover;
      background-position: top;
      border-bottom: 1px solid #e7e7e7;
    }
  }
}
