.websitePreview {
    background-color: #0e0e0e;
    border-radius: 8px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    gap: 11px;

    .websiteActions {
        display: flex;
        gap: 11px;
        margin-top: auto;
    }

    .websiteStatus {
        margin-top: auto;
        p {
            color: #e7e7e7;
            margin-bottom: 11px;
        }
    }
}
