$base: #fff;

//neutrals
$gray100: #0e0e0e;
$gray300: #666666;
$gray400: #a1a1a1;
$gray600: #6e6e6e;
$gray800: #e7e7e7;
$gray900: #f2f2f2;

//borders
$borderColor: #e7e7e7;

//system
$danger: #db3642;

//blues
$blue500: #007bff;

//greens
$green500: #00b300;
$green100: #e6f9e6;
$green800: #008000;

//yellows (warning)
$yellow300: #925b20;
$yellow800: #fae393;

//reds (danger chips)
$red300: #c32d38;
$red800: #fee0de;