@use "color";
@use "type";

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Clarkson", sans-serif;
  font-size: 14px;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: color.$gray100;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: type.$light;
}