$space-01: 6px;
$space-02: 11px;
$space-03: 16px;
$space-04: 22px;
$space-05: 27px;
$space-06: 33px;
$space-07: 38px;
$space-08: 44px;
$space-09: 49px;
$space-10: 55px;
$space-11: 61px;
$space-12: 67px;
$space-13: 73px;
$space-14: 79px;
$space-15: 85px;
$space-16: 91px;
$space-17: 97px;
$space-18: 103px;
$space-19: 109px;
$space-20: 115px;

