.appContainer {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  max-width: 1100px;
  margin: 0 auto;

  &.full-width {
    max-width: none;
    width: 100%;
  }
}
.space-between {
  justify-content: space-between;
}

.websitesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
  margin-top: 24px;
}

