.loginTable {
  margin: 22px 0 0;
}
.table {
  .th {
    font-weight: medium;
  }
  .tr {
    display: table-row;
    position: relative;
    border-bottom: 1px solid #e7e7e7;
    padding: 11px 0;
    transition: background 0.2s ease-in-out;

    & > span {
      display: flex;
      flex: 1;
    }

    &:hover {
      background: darken(#fff, 5%);
    }
  }
}
