@use "../../styles/color";
@use "../../styles/spacing";

.siteThumbnail {
    background-color: color.$gray800;
    border-radius: 4px;
    overflow: hidden;
    transition: transform 0.2s ease;

    &:hover {
        transform: translateY(-2px);
    }

    // Size variants
    &--small {
        width: 200px;
        height: 120px;
        .siteThumbnailInfo h2 {
            font-size: 14px;
        }
    }

    &--medium {
        width: 300px;
        height: 120px;        
        .siteThumbnailInfo h2 {
            font-size: 16px;
        }
    }

    &--large {
        width: 400px;
        .siteThumbnailImage {
            height: 240px;
        }
        .siteThumbnailInfo h2 {
            font-size: 18px;
        }
    }
}

.siteThumbnailImage {
    width: 100%;
    background-color: color.$base;
}
