.dns-settings-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
}


.delete-icon {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
    color: #900;
    display: flex;
    align-items: center;

    &:hover {
        color: #c00;
    }
}
