@use "../styles/spacing";
@use "../styles/color";
@use "../styles/type";

.domainCell {
    display: flex;
    align-items: center;
    gap: spacing.$space-03;
}

.domainThumbnail {
    flex-shrink: 0;
    width: 66px;
    height: 38px;
    overflow: hidden;
    background-color: color.$gray800;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.expirationCell {
    display: flex;
    align-items: center;
    gap: spacing.$space-02;
}

.refreshIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    color: color.$gray300;

    svg {
        width: 18px;
        height: 18px;
    }
}
