.modal {
  position: fixed;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 800px;
  height: 600px;
  margin: auto;
  background: #fff;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;

  &.closed {
    opacity: 0;
    display: none;
    transform: scale(0.2);
  }

  .modalPanel {
    min-width: 512px;
    padding: 33px 11px;
    overflow: scroll;
  }
  .modalFooter {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    padding: 33px 11px;
  }
}

.activeSessions {
  & > .row {
    padding: 0;
    display: flex;
    gap: 6px;
  }
}

.panelSection {
  padding: 1rem;

  & > .row {
    padding: 0;
    display: flex;
  }

  & > .row > .col {
    gap: 6px;
  }
}

.activeSessions {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  gap: 11px;
  overflow: scroll;
  margin: 16px 0 0;
}
