.sessionCard {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between;
  width: 343px;
  height: 182px;
  border: 1px solid #e7e7e7;
  padding: 16px 0;

  .row {
    padding-top: 0;
    gap: 11px;
  }

  .col {
    padding: 6px 0;
  }
  .val {
    color: #0e0e0e;
  }

  .label {
    color: #666666;
  }
  .sessionCardFooter {
    padding: 0 16px;
  }
  .sessionCardFooter a {
    color: #db3642;
  }
}
