@use "../../styles/spacing";
@use "../../styles/color";

//avatar
.avatarContainer {
    padding: spacing.$space-02;
  }
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: color.$gray800;
    background-image: url("../../../public/assets/carlosAvatar.jpg");
    background-size: 100%;
    cursor: pointer;
  }